<header class="bg-blue-600 p-4 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-3xl font-bold">Gerenciador de Heróis</h1>
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/heroes"
            class="text-lg hover:text-blue-200 transition-colors duration-200"
            >Ver Todos</a
          >
        </li>
        <li>
          <a
            routerLink="/heroes/new"
            routerLinkActive="font-extrabold border-b-2 border-white"
            class="text-lg hover:text-blue-200 transition-colors duration-200"
            >Novo Herói</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="container mx-auto p-6">
  <router-outlet></router-outlet>
</main>

<footer class="bg-gray-800 text-white p-4 text-center mt-8">
  <p>&copy; 2025 Gerenciador de Heróis. Todos os direitos reservados.</p>
</footer>
